<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
  />
  <link
      href="https://font.elice.io/css?family=Elice+DX+Neolli"
      rel="stylesheet"
  />
  <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
  />

  <style>
      html,
      body{
          font-family: "Elice DX Neolli", sans-serif;
      }
      pre {
          font-family:  "Elice DX Neolli", sans-serif;
          white-space: pre-wrap;
          max-width: 100%;
          word-wrap: break-word; /* 긴 단어를 줄 바꿈 */
          overflow-wrap: break-word; /* 단어가 컨테이너 너비를 넘을 때 줄 바꿈 */

      }

      .dropdown-toggle:after {
          content: none;
      }

      .comment .btn-group {
          display: none;
      }

      .comment:hover .btn-group {
          display: flex;
      }
  </style>
  <title th:text="${post.title}"></title>
</head>
<body>
<!-- 공통 헤더 포함 -->
<div th:replace="~{fragments/header :: header}"></div>
<div class="container my-5 mx-auto">
  <a
      class="link link-offset-1 link-offset-2-hover text-sm fs-6 mb-2 d-block"
      style="transition: all 0.1s ease-in-out"
      th:href="@{/page/posts/list/{boardId}(boardId=${post.boardId})}"
  >&larr; 게시판으로 돌아가기</a
  >
  <div class="container border rounded p-4 position-relative">
    <div class="header mb-3">
      <h2 class="text-start" th:text="${post.title}">게시글 제목</h2>
    </div>
    <!-- User Info Section -->
    <div class="d-flex justify-content-between">
      <!-- 작성자 -->
      <div class="text-start">
        <strong th:text="${authorInfo.id}">User Name</strong>
      </div>
      <!-- 작성 시간 -->
      <div class="text-end text-muted">
        <span th:text="${post.createdDate}">2024-08-23 10:00</span>
      </div>
    </div>
    <!-- 수정 시간 -->
    <div class="d-flex justify-content-end">
      <div class="text-end text-muted" th:if="${post.modifiedDate != null and post.modifiedDate > post.createdDate}">
        Modified:
        <span th:text="${post.modifiedDate}">2024-08-23 10:00</span>
      </div>
    </div>

    <!-- Divider -->
    <hr style="border-color: rgba(13, 110, 253, 1)">
    <pre class="m-0" th:text="${post.content}">게시글 내용</pre>
    <hr class="mt-4" />
    <h4 class="mb-3">
      댓글
      <small
          class="text-secondary"
          id="commentsCount"
          th:text="${comments.size()}"
      >0</small
      >
    </h4>
    <div
        class="container p-0 d-flex flex-column align-items-start gap-2"
        th:unless="${#lists.isEmpty(comments)}"
    >
      <div
          class="card comment"
          style="min-width: 30%"
          th:each="comment : ${comments}"
      >
        <div class="card-body position-relative">
          <p class="mb-2" th:text="${comment.id}">User Name</p>
          <p class="mb-2" th:text="${comment.content}">댓글 내용</p>
          <small class="text-secondary" th:text="${comment.createdDate}">생성 일자</small>

          <div th:if="${loggedInUserId != null && (loggedInUserId == comment.userId || loggedInUserGroupId == 1)}"
              class="position-absolute end-0 top-50 translate-middle-y mb-3 me-3 btn-group bg-white bg-opacity-75"
              role="group"
              aria-label="edit-delete"
          >
            <button th:if="${loggedInUserId != null and loggedInUserId == comment.userId}"
                class="btn btn-outline-primary lh-1"
                data-bs-toggle="modal"
                data-bs-target="#editCommentModal"
                th:onclick="handleEditCommentButton(event, [[${comment.commentId}]], [[${comment.content}]]);"
            >
              <span class="material-symbols-outlined"> edit </span>
            </button>
            <button th:if="${loggedInUserId != null and (loggedInUserId == comment.userId || loggedInUserGroupId == 1)}"
                class="btn btn-outline-danger lh-1"
                data-bs-toggle="modal"
                data-bs-target="#deleteCommentModal"
                th:onclick="handleDeleteCommentButton(event, [[${comment.commentId}]]);"
            >
              <span class="material-symbols-outlined"> delete </span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <span
        th:if="${#lists.isEmpty(comments)}"
        class="d-block w-100 text-center"
    >댓글이 없습니다.</span
    >

    <form
        class="mt-3 row"
        th:action="@{/comments(postId=${post.postId})}"
        method="POST"
    >
      <div class="input-group">
            <textarea
                class="form-control"
                name="content"
                cols="6"
                placeholder="댓글 작성하기"
            ></textarea>
        <button class="btn btn-primary">업로드</button>
      </div>
    </form>

    <div class="position-absolute top-0 end-0 mt-4 me-4" th:if="${isAuthor || isAdmin}">
      <button
          class="btn btn-light lh-1 p-0 px-2 dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
      >
        <span class="material-symbols-outlined"> more_horiz </span>
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li>
          <!-- 글 수정은 글 작성자인 경우에만 가능. 글 삭제는 관리자도 가능 -->
          <button th:if="${isAuthor}"
              class="dropdown-item d-flex align-items-center gap-2"
              th:onclick="'location.href=\'/page/posts/edit/' + ${post.postId} + '\''"
          >
            <span class="material-symbols-outlined"> edit </span>수정
          </button>
        </li>
        <li>
          <button
              class="dropdown-item text-danger btn btn-danger d-flex align-items-center gap-2"
              data-bs-toggle="modal"
              data-bs-target="#deletePostModal"
              th:onclick="handleDeletePostButton(event, [[${post.postId}]], [[${post.boardId}]]);"
          >
            <span class="material-symbols-outlined"> delete </span>삭제
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>

<div
    class="modal fade"
    id="deletePostModal"
    tabindex="-1"
    aria-labelledby="deletePostModalLabel"
    aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deletePostModalLabel">
          게시글을 삭제하시겠습니까?
        </h1>
        <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p class="fw-light">게시글과 댓글이 삭제됩니다.</p>
      </div>
      <div class="modal-footer">
        <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
        >
          취소
        </button>
        <button
            type="button"
            class="btn btn-danger"
            onclick="handleDeletePostModalButton()"
        >
          삭제
        </button>
      </div>
    </div>
  </div>
</div>

<div
    class="modal fade"
    id="editCommentModal"
    tabindex="-1"
    aria-labelledby="editCommentModalLabel"
    aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editCommentModalLabel">
          댓글 수정하기
        </h1>
        <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
        ></button>
      </div>
      <form id="commentEditForm" method="POST">
        <div class="modal-body">
              <textarea
                  class="form-control"
                  name="content"
                  id="commentContentTextarea"
                  placeholder="댓글 수정하기..."
              ></textarea>
        </div>
        <div class="modal-footer">
          <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
          >
            취소
          </button>
          <button class="btn btn-primary">수정</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
    class="modal fade"
    id="deleteCommentModal"
    tabindex="-1"
    aria-labelledby="deleteCommentModalLabel"
    aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteCommentModalLabel">
          댓글을 삭제하시겠습니까?
        </h1>
        <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p class="fw-light">해당 댓글이 삭제됩니다.</p>
      </div>
      <div class="modal-footer">
        <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
        >
          취소
        </button>
        <button
            type="button"
            class="btn btn-danger"
            onclick="handleDeleteCommentModalButton()"
        >
          삭제
        </button>
      </div>
    </div>
  </div>
</div>

<!-- 부트스트랩 JS 추가 -->
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
></script>
<script th:inline="javascript">
    let currentPost;
    let currentBoard;
    let currentComment;
    let elementToDelete;

    function handleDeletePostButton(_, postId, boardId) {
        currentPost = postId;
        currentBoard = boardId;
    }

    function handleDeletePostModalButton() {
        fetch(`/api/posts/${currentPost}`, {
            method: "DELETE",
        })
            .then(response => {
                if (response.status === 204) {  // 204 No Content 확인
                    // 삭제 요청이 성공했을 때 페이지를 새로고침
                    window.location.href = `/page/posts/list/${currentBoard}`;
                } else {
                    // 오류 처리를 할 수 있습니다 (선택 사항)
                    console.error('삭제 요청이 실패했습니다.');
                }
            })
            .catch(error => {
                // 네트워크 오류 등의 예외 처리
                console.error('네트워크 오류:', error);
            });
    }


    function handleDeleteCommentButton(e, commentId) {
        currentComment = commentId;
        elementToDelete = e.target.closest(".card");
    }

    function handleDeleteCommentModalButton() {
        fetch(`/comments/${currentComment}/delete`, {
            method: "POST",
        }).then(() => elementToDelete.remove());

        const commentsCount = document.getElementById("commentsCount");
        commentsCount.innerText = parseInt(commentsCount.innerText) - 1;

        const modal = bootstrap.Modal.getInstance("#deleteCommentModal");
        modal.hide();
    }

    function handleEditCommentButton(_, commentId, content) {
        document.getElementById("commentContentTextarea").innerText = content;
        document
            .getElementById("commentEditForm")
            .setAttribute("action", `/comments/${commentId}/update`);
    }
</script>
<script>
    function performLogout() {
        fetch('/api/users/logout', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => {
                if (response.ok) {
                    window.location.replace(window.location.origin + window.location.pathname);
                } else {
                    alert('로그아웃에 실패했습니다.');
                }
            })
            .catch(error => console.error('Error:', error));
    }
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var closing_window = false;

    $(window).on('focus', function () {
        closing_window = false;
    });

    $(window).on('blur', function () {
        closing_window = true;
        if (!document.hidden) {
            closing_window = false;
        }
        $(window).on('resize', function (e) {
            closing_window = false;
        });
        $(window).off('resize');
    });

    $('html').on('mouseleave', function () {
        closing_window = true;
    });

    $('html').on('mouseenter', function () {
        closing_window = false;
    });

    $(document).on('keydown', function (e) {
        if (e.keyCode == 91  e.keyCode == 18) {
            closing_window = false;
        }
        if (e.keyCode == 116  (e.ctrlKey && e.keyCode == 82)) {
            closing_window = false;
        }
    });

    $(document).on("click", "a", function () {
        closing_window = false;
    });

    $(document).on("click", "button", function () {
        closing_window = false;
    });

    $(document).on("submit", "form", function () {
        closing_window = false;
    });

    var toDoWhenClosing = function () {
        fetch('/api/users/logout', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        });
    };

    window.addEventListener("beforeunload", function (e) {
        if (closing_window) {
            toDoWhenClosing();
        }
    });

</script>
</body>
</html>
