<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit User Information</title>
  <link rel="stylesheet" th:href="@{/css/editUserInfo.css}">
  <script>
    function confirmDeletion() {
      return confirm("정말로 탈퇴하시겠습니까?");
    }
  </script>
</head>
<body>
<div class="container">
  <div class="form-container">
    <h2>회원정보 수정</h2>
    <form th:action="@{/users/update/{id}(id=${user.id})}" method="post">
      <div th:if="${error}" class="error-message" th:text="${error}"></div>
      <div class="form-group">
        <label for="id">아이디</label>
        <input type="text" id="id" th:value="${user.id}" name="id" required>
      </div>
      <div class="form-group">
        <label for="name">이름</label>
        <input type="text" id="name" th:value="${user.name}" name="name" required>
      </div>
      <div class="form-group">
        <label for="phoneNumber">전화번호</label>
        <input type="text" id="phoneNumber" th:value="${user.phoneNumber}" name="phoneNumber" required>
      </div>
      <div class="form-group">
        <label for="password">비밀번호</label>
        <input type="password" id="password" name="password" placeholder="변경할 비밀번호를 입력하세요">
      </div>
      <div class="button-group">
        <button class ="update" type="submit">저장</button>
        <button type="button" class="cancel-button" onclick="window.history.back();">취소</button>
      </div>
    </form>
    <form th:action="@{/users/delete/{id}(id=${user.id})}" method="post" onsubmit="return confirmDeletion();">
      <button type="submit" class="delete-button">탈퇴</button>
    </form>
  </div>
</div>
</body>
</html>
